# data/
*.pdf
*.mp4
*.wav
.DS_Store
*/.DS_Store
meetings/
*objects*
.env

# notebooks/data/
notebooks/final

__pycache__
*/__pycache__

*.npz
src/models/*
*appDockerData*

!src/models/README.md
!videotulenDemo.mp4