fastapi
gritlm
huggingface_hub
mlx
mlx_lm
model
numba
numpy
openai
openai-whisper
openpyxl
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pydantic
python-dotenv
scipy
sentence_transformers
starlette
tiktoken
torch
tqdm
transformers
weaviate_client
