fastapi
gritlm
huggingface_hub
mlx
model
numba
numpy
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pydantic
python-dotenv
scipy
sentence_transformers
tiktoken
torch
tqdm
weaviate_client
